<div *ngIf="showErr">
    {{errorText}}
    <button mat-raised-button color="primary" (click)="readFile()">Reload file</button>
</div>
<mat-table *ngIf="!showErr" #table [dataSource]="dataSource">

    <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userLastname">
        <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.country}} </mat-cell>
    </ng-container>
                
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>